#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3644e169-0ae7-4809-88c7-9d9c4eeb8963 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}