#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7bc8e0fd-5e36-4179-96cb-c0695f0cb444 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}