#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-938199ee-dede-49f6-a2f6-c2b18c0ea50c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}