#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a6a9768b-f5a3-4f22-ad49-f6ec7826358c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}