#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cb1453e5-2d61-4537-afff-4b1142b9a10c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}