#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cf5e86b2-86d6-42fc-8545-d7f142885492 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}