#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea70311e-1a7a-4d05-b1d6-60b116c01555 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}