.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n55735b4a-96bd-46d8-ae69-98688e7c222e {
  left: 0px;
  top: 557px;
  width: 44px;
  height: 59px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #te2d46ea8-a16d-4142-9ea8-40d4584c901a .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #te2d46ea8-a16d-4142-9ea8-40d4584c901a .transitionNameContainer {
  left: 72.5px;
  top: 623.33875px;
}
#te2d46ea8-a16d-4142-9ea8-40d4584c901a.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#te2d46ea8-a16d-4142-9ea8-40d4584c901a.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1a3bd00c-c9f3-45a3-ac89-12b2478bdc48 .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1a3bd00c-c9f3-45a3-ac89-12b2478bdc48 .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/ea70311e-1a7a-4d05-b1d6-60b116c01555.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n1a3bd00c-c9f3-45a3-ac89-12b2478bdc48 {
  left: 109px;
  top: 446px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf5d3d974-1c0d-4d5b-a9f6-a8c2404d4294 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tf5d3d974-1c0d-4d5b-a9f6-a8c2404d4294 .transitionNameContainer {
  left: 359.0px;
  top: 593.9407px;
}
#tf5d3d974-1c0d-4d5b-a9f6-a8c2404d4294.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#tf5d3d974-1c0d-4d5b-a9f6-a8c2404d4294.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta24868dc-b884-4e3d-99a8-7e2d18340373 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta24868dc-b884-4e3d-99a8-7e2d18340373 .transitionNameContainer {
  left: 308.0px;
  top: 917.2432px;
}
#ta24868dc-b884-4e3d-99a8-7e2d18340373.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#ta24868dc-b884-4e3d-99a8-7e2d18340373.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta220c29e-ecf4-44c4-966d-195987775710 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ta220c29e-ecf4-44c4-966d-195987775710 .transitionNameContainer {
  left: 326.5px;
  top: 765.64417px;
}
#ta220c29e-ecf4-44c4-966d-195987775710.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#ta220c29e-ecf4-44c4-966d-195987775710.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t42844ee6-03ae-467a-84f7-310b72fd5cd2 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t42844ee6-03ae-467a-84f7-310b72fd5cd2 .transitionNameContainer {
  left: 459.0px;
  top: 751.21277px;
}
#t42844ee6-03ae-467a-84f7-310b72fd5cd2.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#t42844ee6-03ae-467a-84f7-310b72fd5cd2.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td51f029f-fc1f-4d88-acd5-d2f5acf4fc73 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #td51f029f-fc1f-4d88-acd5-d2f5acf4fc73 .transitionNameContainer {
  left: 375.0px;
  top: 387.67834px;
}
#td51f029f-fc1f-4d88-acd5-d2f5acf4fc73.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#td51f029f-fc1f-4d88-acd5-d2f5acf4fc73.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbc05ee8c-176e-44ac-a1ad-132b0fc6be73 .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbc05ee8c-176e-44ac-a1ad-132b0fc6be73 .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/3644e169-0ae7-4809-88c7-9d9c4eeb8963.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nbc05ee8c-176e-44ac-a1ad-132b0fc6be73 {
  left: 442px;
  top: 0px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n29e33945-b223-4e74-a803-e1adf0559c04 .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n29e33945-b223-4e74-a803-e1adf0559c04 .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/cb1453e5-2d61-4537-afff-4b1142b9a10c.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n29e33945-b223-4e74-a803-e1adf0559c04 {
  left: 442px;
  top: 331px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t2e864e70-8320-42d8-8a87-a0f0fa465a6c .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t2e864e70-8320-42d8-8a87-a0f0fa465a6c .transitionNameContainer {
  left: 667.5px;
  top: 374.3642px;
}
#t2e864e70-8320-42d8-8a87-a0f0fa465a6c.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#t2e864e70-8320-42d8-8a87-a0f0fa465a6c.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9ccc6b46-2a75-472d-a0ec-ff42c87ad48e .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #t9ccc6b46-2a75-472d-a0ec-ff42c87ad48e .transitionNameContainer {
  left: 653.0px;
  top: 482.56137px;
}
#t9ccc6b46-2a75-472d-a0ec-ff42c87ad48e.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#t9ccc6b46-2a75-472d-a0ec-ff42c87ad48e.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tef228607-6f11-4d5b-bdce-8fb93e152fc5 .transitionName {
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #tef228607-6f11-4d5b-bdce-8fb93e152fc5 .transitionNameContainer {
  left: 640.5px;
  top: 574.37585px;
}
#tef228607-6f11-4d5b-bdce-8fb93e152fc5.transitionWrapper > svg > marker {
  fill: #21C0C0;
}
#tef228607-6f11-4d5b-bdce-8fb93e152fc5.transitionWrapper > svg > polyline {
  stroke: #21C0C0;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n3ea71fca-b9de-4e4b-bda6-d648c3dafda0 .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n3ea71fca-b9de-4e4b-bda6-d648c3dafda0 .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/7bc8e0fd-5e36-4179-96cb-c0695f0cb444.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n3ea71fca-b9de-4e4b-bda6-d648c3dafda0 {
  left: 443px;
  top: 659px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n268e057c-3220-4129-a6b0-fe5400656cab .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n268e057c-3220-4129-a6b0-fe5400656cab .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/a6a9768b-f5a3-4f22-ad49-f6ec7826358c.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n268e057c-3220-4129-a6b0-fe5400656cab {
  left: 436px;
  top: 1014px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc08ed03b-53c6-4eb1-9344-0149217bfce5 .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc08ed03b-53c6-4eb1-9344-0149217bfce5 .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/938199ee-dede-49f6-a2f6-c2b18c0ea50c.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nc08ed03b-53c6-4eb1-9344-0149217bfce5 {
  left: 696px;
  top: 659px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n5851823e-1292-4658-a693-7866453cfeed {
  left: 717px;
  top: 409px;
  width: 119px;
  height: 59px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n60ad8d42-2a43-4f86-a592-56cec1cd2dfe .scenarioDevice {
  height: 299px;
  width: 139px;
  background-image: url("../../resources/_jim/images/mobile/devices/iphone5.png");
  background-size: 139px 299px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n60ad8d42-2a43-4f86-a592-56cec1cd2dfe .scenarioScreenThumbnail {
  height: 214.09729px;
  width: 119.46487px;
  margin: 42.45135px 9.767568px;
  background-image: url("../../resources/scenarios/screens/cf5e86b2-86d6-42fc-8545-d7f142885492.jpg");
  background-size: 119.46487px 214.09729px;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #n60ad8d42-2a43-4f86-a592-56cec1cd2dfe {
  left: 696px;
  top: 0px;
  width: 147px;
  height: 327px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #nfa09361b-d240-4d02-9747-81c5b01454f6 {
  left: 718px;
  top: 531px;
  width: 116px;
  height: 59px;
  color: #313334;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#scenarioWrapper {
  width: 843px;
  height: 1341px;
}